{% extends 'base.html' %}

{% block content %}
<div class="card">
     <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">{{ sale.id }}</h5>
          <div>
               <a href="{% url 'list_saledetail:saledetail_edit' sale.pk %}" class="btn btn-sm btn-primary">Edit</a>
               <a href="{% url 'list_saledetail:saledetail_delete' sale.pk %}" class="btn btn-sm btn-danger">Delete</a>
          </div>
     </div>
    
    <div class="row">
          <div class="col-md-6">
               <h6 class="text-muted mb-3">Sale Detail Information</h6>
               <p><strong>Sale</strong> {{ saledetail.sale }}</p>
               <p><strong>Product</strong> {{ saledetail.product }}</p>
               <p><strong>Qauntity</strong> {{ saledetail.qty }}</p>
               <p><strong>Price</strong> {{ saledetail.price }}</p>
          </div>
          {% comment %} <div class="col-md-6">
               <h6 class="text-muted mb-3">Profile Information</h6>
               {% if product.product_profile %}
                    <p><strong>Address:</strong> 
                         {% if product.product_profile.address %}
                              {{ product.product_profile.address }}
                         {% else %}
                              <span class="text-muted">Not provided</span>
                         {% endif %}
                    </p>
                    <p><strong>Stock Date:</strong> 
                         {% if product.product_profile.stock_date %}
                              {{ product.product_profile.stock_date|date:"F d, Y" }}
                         {% else %}
                              <span class="text-muted">Not provided</span>
                         {% endif %}
                    </p>
               {% else %}
                    <p class="text-muted">No profile information available</p>
               {% endif %}
          </div> {% endcomment %}
    </div>
    
    <div class="mt-4">
          <a href="{% url 'list_saledetail:saledetail_list' %}" class="btn btn-secondary">Back to list</a>
    </div>
  </div>
</div>
{% endblock %}
